@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: white;
}

body {
    background: rgb(14,15,17);
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #181A1C;
    border-bottom: 1px solid #3D3E40;
    position: relative;
}

.cabecalho-logo {
    margin-left: 25%; 
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}

.cabecalho-menu {
    flex-grow: 1;
    display: flex;
    justify-content: center; 
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
}

.cabecalho-menu-item { 
    color: #A0A1A4;
    font-weight: 400;
    font-size: 14px;
    font-weight: 700;
}

.cabecalho-menu-item:hover {
    color: #fff;
}

.buscar_box {
    background-color: #0E0F11;
    height: 40px;
    padding: 10px;
    border: 1px solid #3D3E40;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 35%;
    margin-left: 16px;
}

#pesquisar {
    width: 100px;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 15px;
}

.buscar_btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0E0F11;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-cadastro {
    text-decoration: none;
    color: #A0A1A4;
}

.link-cadastro:hover {
    color: #fff;
}

.login {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.caixa {
    margin: auto;
    margin-top: 144px;
    display: flex;  
    flex-direction: column; 
    align-items: center; 
    width: 30%;
    text-align: center;
    background-color: #181A1C;
    border: 1px solid #3D3E40;
    border-radius: 8px;
}

p {
    padding-top: 20px;
    font-size: smaller;
}

h1 {
    padding-bottom: 10px;
    font-size: 30px;
}

.email input {
    width: 284px; 
    padding: 15px; 
    margin-bottom: 10px;
    border: 1px solid #3D3E40;
    border-radius: 8px; 
    background-color: #181A1C;
    color: #A0A1A4; 
    box-sizing: border-box; 
    outline: none;
}

.senha input {
    width: 284px; 
    padding: 15px; 
    margin-bottom: 10px;
    border: 1px solid #3D3E40;
    border-radius: 8px; 
    background-color: #181A1C; 
    color: #A0A1A4; 
    box-sizing: border-box; 
    outline: none;
}

main input:focus {
    border: 2px solid #8fcfb1; 
}

button {
    background-color: #8fcfb1; 
    border: none; 
    border-radius: 8px; 
    color: #181a1c; 
    padding: 15px;
    width: 284px; 
    text-decoration: none;
    font-size: 13px; 
    cursor: pointer;
}

.right {
    font-size: smaller;
    margin-top: 10px;
    margin-bottom: 20px;  
    text-align: left;  

}

.right:hover {
    color: #8fcfb1;
}

